body {
    font-size: 15pt;
}

:root {
    --main: linear-gradient(45deg, lightseagreen, blueviolet);
}

.bg-main {
    color: white;
    background: var(--main);
}

.hero {
    width: 100%;
    height: 95vh;
}

.getcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    clip-path: ellipse(180vh 95vh at 50% 0%);
}

.hero .container {
    transform: translateY(-100px);
}

u {
    text-decoration: 5px underline #0095ff;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.card {
    width: 150px !important;
    min-height: 180px !important;
    transition: .2s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    background: #fff;
    transform: scale(1.2);
}

.btn-main {
    background: var(--main);
    color: white !important;
    transition: 1s;
    filter: saturate(1);
}

.btn-main:hover {
    filter: saturate(0) !important;
}

.posts-container .card {
    margin: 10px;
}

.posts{
  transform: translateY(100px);
}

.circle {
    background: #222;
    border-radius: 50%;
    display: inline-block;
}

.subscription {
    width: 100%;
    height: 60px;
    background: var(--main);
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.about img {
    width: 200px;
    border-radius: 50%;
    transform: translateY(-100px);
}

.about {
    margin-top: 300px;
    width: 100%
}

.about .container {
    transform: translateY(-70px);
}

.muted-light {
    color: rgba(255,255,255,0.4) !important;
}

.muted-light a {
    color: #fdf;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }
  .header .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .header .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .header .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .header .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .header .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .header .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .header .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .header .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .header .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }

#logo-text{
  padding: 4px 9.5px;
  color: rgb(0, 124, 233);
  background: #FFF;
  border-radius: 50%;
}