---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Navigation />
    <slot />
    <style is:global>
      @import url("https://fonts.cdnfonts.com/css/bricolage-grotesque");

      body {
        font-family: "Bricolage Grotesque", sans-serif;
        background-color: #ffffff;
        color: #000000;
        overflow-x: hidden;
      }
    </style>
	<Footer />
  </body>
</html>
